{% extends 'core/base.html' %} 
{% block  title %} Atualizar Day Trade{% endblock  %}
{% block main%}
{% load static %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif%}
{% load widget_tweaks %}
<main>
    <div class="container-fluid">
        <div class="container py-5 bg-light">
            <form action="{% url 'core:day-update' object.id %}" method="POST" class="form-group">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            <label for="{{field.id_for_label}}"> {{ field.label }} </label> 
                            {% if field.name == 'data_acao' %}
                                <div class='col-sm-12'> {{ field | attr:"autocomplete=off" | add_class:'form-control datepicker'}}</div>
                            {% else %}
                                <div class='col-sm-12'> {{ field | add_class:'form-control'}}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                <input type="submit" class="w3-button w3-teal w3-round" value="Salvar">
                <a class='w3-button w3-red w3-round' href="{{ object.get_absolute_url }}">Cancelar</a>
            </form>
        </div>
    </div>
</main>
{% endblock %}