{% extends 'core/base.html' %} 
{% block  title %} Detail Receita {% endblock  %}
{% block main%}
{% load static %}
{% if error_message %}<div class='alert alert-danger'><strong>{{ error_message }}</strong></div>{% endif%}
<main>
    <div class="container-fluid">
        <div class="container py-5 bg-light">
            <H2>Receita - {{ object.id }}</H2>
            <p name='valor'>Valor - R$ {{ object.valor }}</p>
            <p> Dia da receita - {{ object.conta.data_receita }}</p>
            <p> Tipo da receita - {{ object.tipo_receita }} </p>
            
            <a class='btn btn-primary'  href="{% url 'core:receita-update' object.id %}">Editar</a>
            <a class='btn btn-danger'  href="{% url 'core:receita-delete' object.id %}">Deletar</a>
            <a class='btn btn-outline-secondary'  href="{% url 'core:receita-list' %}">Voltar para lista</a>
        </div>
    </div>
    <script>
    </script>
</main>
{% endblock %}